* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia', serif;
    color: white;
    background: linear-gradient(135deg, #000000, #3d0015, #800020);
}

.inicio {
    text-align: center;
    width: 90%;
    max-width: 600px;
    padding: 45px 30px;
    background: rgba(255,255,255,0.08);
    border-radius: 30px;
    backdrop-filter: blur(15px);
    animation: aparecer 2s ease;
}

h1 {
    font-size: 45px;
    margin-bottom: 25px;
    animation: brilho 2s infinite alternate;
}

p {
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 35px;
}

button {
    padding: 18px 45px;
    border: none;
    border-radius: 50px;
    background: #ff1744;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 20px #ff1744;
    transition: .4s;
}

button:hover {
    transform: scale(1.1);
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes brilho {

    from {
        text-shadow: 0 0 10px white;
    }

    to {
        text-shadow: 0 0 30px pink;
        historia {
    display: none;
    margin-top: 40px;
    text-align: center;
    animation: aparecer 2s ease;
}

#historia h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.momento {
    background: rgba(255,255,255,0.10);
    padding: 25px;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255,0,80,0.3);
}

.momento h3 {
    color: #ffb6c1;
    margin-bottom: 15px;
}

.momento p {
    font-size: 18px;
}
    }
}
